<div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
    <ng-container *ngFor="let cliente of clientes" style="margin: 0.5%;"> 
        <mat-card class="mat-card-teste" 
            fxFlex="0 1 calc(33.3% - 11px)"
            fxFlex.lt-md="0 1 calc(50% - 11px)"
            fxFlex.lt-sm="100%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{cliente.id}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="nome">{{cliente.nome}}</p>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>